#brand{
  color:#49274a;
  font-weight: bold;
  font-size: 2.3em;
  font-family: monospace;
}

li{
  font-family: monospace;
  color: rgba(128, 128, 128, 0.76);
  font-size: large;
  font-weight: bold;
  padding-right:2px;
}

li:hover{
  color: black;
}

nav{
  margin-top: 2%;
}

#signup{
  border-radius: 20px;
  background-color: rgb(63, 204, 204);
  border: 0px;
}

#login{
  color: rgba(128, 128, 128, 0.76);
}

#login:hover{
  color: black;
}

#signup:hover{
  background-color: rgba(123, 216, 216, 0.671);
}

#intro{
  padding-top: 4em;
}
#heading{
  font-weight: bolder;
  padding-top: 1em;
  font-size: 4em;
  padding-left: 1em;
}

#description{
  margin-left: 3em;
  font-size: 1.5em;
  color:rgba(128, 128, 128, 0.76);
  font-family: monospace;
}

#description2{
  margin-left: 3em;
  font-size: 1.5em;
  color:rgba(128, 128, 128, 0.76);
  font-family: monospace;
}

#start{
  padding: 16px;
  border-radius: 30px;
  padding-left: 2.5em;
  padding-right: 2em;
  background-color: rgb(63, 204, 204);
  border: 0px;
  font-family: monospace;
  font-size: larger;
  font-weight: bold;
}
#start:hover{
  background-color: rgba(123, 216, 216, 0.671);
}
.started{
  padding-left: 3em;
}

#searchbox{
  background-image:url('./images/bg-shorten-desktop.svg');
  /* background-size: contain; */
  background-size: cover;
  padding: 3em;
  box-shadow: inset 0 0 0 100px rgba(41, 3, 56, 0.76);
  margin-left: 3em;
  border-radius: 10px;
  max-width: max-content;
  margin-top: 1em;
  position: absolute;
  /* margin-bottom: 7em; */
}

#searchbox1{
  background-color: white;
  padding: 0.7em;
  margin-left: 3em;
  border-radius: 5px;
  max-width: 79vw;
  margin-top: 12em;
  position: absolute;
  /* box-shadow: rgba(255, 255, 255, 0.692) 1px 1px 1px 1px; */
  border: rgb(225, 240, 253) 1px solid;
}

.advanced{
  margin-top: 5em;
  position: absolute;
  max-width: 79vw;
  margin-left: 3em;
  margin-top: 14em;
}

.stats{
  font-weight: bolder;
  margin-top: 1em;
}
#finishedurl{
  padding-left: 2em;
}
.url{
  width: 62vw;
  height: 2.5em;
  margin-top: 5px;
  border-radius: 5px;
  border: 0px;
  outline: none;
}

#shorten{
  background-color: rgb(63, 204, 204);
  /* padding: 10px; */
  margin-left: 14px;
  border:0;
}

#shorten:hover{
  background-color: rgb(123, 216, 216);
}
::-webkit-input-placeholder {
  text-align: center;
  font-family: monospace;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  font-family: monospace;
  font-size: large;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
  font-family: monospace;
  font-size: large; 
}

:-ms-input-placeholder {  
  text-align: center; 
  font-size: large;
}

#tiles{
  position: absolute;
  margin-left: 2.0em ;
  margin-top: 26em;
}

#cardstyle{
  border: white 1px solid;
  border-radius: 50px;
}
.info{
  background-color: rgb(228, 233, 238);
  padding-bottom: 60%;
  margin-top: 3.5em;
}


@media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
  .row {
      display: flex;
      flex-direction: column-reverse;
  }

  #shorten{
      background-color: rgb(63, 204, 204);
      margin-top: 20px;
      margin-left: 2.2px;
      border:0;
      width:62vw;
      font-weight: bolder;
      font-family: monospace;
  }

  #searchbox1{
      position:inherit;
      margin-left: 0;
      justify-content: center;
  }

  .info{
      background-color: white;
  }
  
  #searchbox1{
    margin-top:1rem;
    overflow-wrap: break-word;
    width: 100vw;
    margin-left: 1.5rem;
}

.original{
  position: relative;
  justify-content: center;
  overflow: inherit;
  padding-bottom: 3rem;

}

.advanced{
  margin-top: 5em;
  /* position: absolute; */
  max-width: 79vw;
  margin-left: 3em;
  margin-top: 6rem;
  justify-content: start;
}

#description2{
  justify-content: start;
  margin-left: -2rem;
}
}
@media (max-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 
  .row {
      display: flex;
      flex-direction: column-reverse;
  }
  #shorten{
      background-color: rgb(63, 204, 204);
      margin-top: 20px;
      margin-left: 2.2px;
      border:0;
      width:62vw;
      font-weight: bolder;
      font-family: monospace;
  }

  #searchbox{
      position:inherit;
      margin-left: 3rem;
      justify-content: center;
  }

  .info{
      background-color: white;
  }

  #searchbox1{
    margin-top: 1rem;
    overflow-wrap: break-word;
    width: 100vw;
    margin-left: 1.5rem;
}
  .original{
    position: relative;
    justify-content: center;
    overflow: inherit;
    padding-bottom: 3rem;
  }

  .advanced{
    margin-top: 5em;
    /* position: absolute; */
    max-width: 79vw;
    margin-left: 3em;
    margin-top: 6rem;
    justify-content: start;
  }

  #description2{
    justify-content: start;
    margin-left: -2rem;
  }
}
@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  .row {
      display: flex;
      flex-direction: column-reverse;
  }
  #shorten{
      background-color: rgb(63, 204, 204);
      margin-top: 20px;
      margin-left: 2.2px;
      border:0;
      width:62vw;
      font-weight: bolder;
      font-family: monospace;
  }

  #searchbox{
      position:inherit;
      margin-left: 0;
      justify-content: center;
  }
  .info{
      background-color: white;
  }

  #searchbox1{
    margin-top: 1rem;
    overflow-wrap: break-word;
    width: 100%;
    margin-left: 1.5rem;
}

.advanced{
  margin-top: 5em;
  /* position: absolute; */
  max-width: 79vw;
  margin-left: 3em;
  margin-top: 6rem;
  justify-content: start;
}

.original{
  position: relative;
  justify-content: center;
  padding-bottom: 3rem;
  overflow: inherit;
}

  #description2{
    justify-content: start;
    margin-left: -2rem;
  }
}